# Build folder
build/
bin/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled object files
*.o
*.obj
*.so
*.exe
*.dll
*.out

# Precompiled Headers
*.gch
*.pch

# Logs
*.log

# VSCode settings
.vscode/

# Swap files, temp files
*~
*.swp
.DS_Store

# Boot-related temp
*.iso
*.img
*.bin